<h3>Fridge Form</h3>

<% if flash[:errors] %>
  <%flash[:errors].each do |error| %>
  <ul>

    <%=error  %>
  </ul>

  <% end %>
<% end %>
 
<%= form_for(@fridge) do |f| %>
  <label>Fridge name:</label><br>
  <%= f.text_field :name %><br>
 
  <label>Fridge size:</label><br>
 <%= f.select :size, [['Small','small'],['Medium','medium'],['Large','large']] %>

  <label>Users:</label>
  <%= f.collection_check_boxes :user_ids, @users, :id, :name %>
 
  <%= f.submit %>
<% end %>
