<h2>
<%= @fridge.name %> |Size:
<%= @fridge.size  %>
</h2>



<ul>

  <% @fridge.foods.each do |food| %>
    <li>
    <%= link_to food.name, food %>| Expires on:<%= food.expires_on %>
    </li>
    <% end %>
  </ul>
<h3><%= link_to "Edit", edit_fridge_path() %></h3>

<h1><%= link_to "ALL", fridges_path %> </h1>
