<h3>Food Form</h3>

<% if flash[:errors] %>
  <%flash[:errors].each do |error| %>
  <ul>

    <%=error  %>
  </ul>

  <% end %>
<% end %>
 
<%= form_for(@food) do |f| %>
  <label>Food name:</label><br>
  <%= f.text_field :name %><br>
 
  <label>Food expiration date:</label><br>
  <%= f.date_field :expires_on %><br>

  <label>Fridge:</label>
  <%= f.collection_select :fridge_id, @fridges, :id, :name %>
 
  <%= f.submit %>
<% end %>
